---
# Pillar values to use in minion states

koha:
  instance: name       # NB: instance name should be no more than 11 chars
  adminuser: admin
  adminpass: secret
  zebrauser: kohauser
  zebrapass: XXX
  bz_user: email@bugzilla.com
  bz_pass: bugzpassword
  version: 3.16.03     # koha version to pull from git
